<div *ngIf="isLoading;then loading else content"></div>
<ng-template #loading><div class="spinner">
  <mat-spinner></mat-spinner>
</div>
</ng-template>
<ng-template #content>
  <div class="btns">
    <button mat-raised-button color="primary" (click)="previous()">Précédent</button> |
    <button mat-raised-button color="primary" (click)="next()">Suivant</button>
  </div>
  
  
  <div class="grid">
    <div *ngFor="let perso of personnages">
      <mat-card class="grid-itemd">
  
        <img mat-card-image src="{{perso.thumbnail.path+'.'+perso.thumbnail.extension}}">
        <a [routerLink]="['/detail/'+perso.id]">
          <div class="preview">
            <mat-icon>visibility</mat-icon>
          </div>
        </a>
  
        <h1>{{perso.name}}</h1>
      </mat-card>
    </div>
  
</div>
<div class="btns">
  <button mat-raised-button color="primary" (click)="previous()">Précédent</button> |
  <button mat-raised-button color="primary" (click)="next()">Suivant</button>
</div>
</ng-template>

